.postAdLog{
    height : 100vh;
    margin-top : 30px;
}

.postAd{
    height : 100%;
    margin-top : 30px;
    width : 70%;
}
.backFooter{
    background-color: #F4F6F7;
}

.backFooterBis {
    background-color: #474747;
}

header {
    box-shadow: 1px 5px 8px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 5px 8px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 5px 8px -1px rgba(0, 0, 0, 0.2);
}